body {
    text-align: center;
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
}

image {
    width: 350px;
    height: 300px;
    
}

#marqueeStyle {
    font-size: 30px;
}

#foter {
    background-color: black;
    
}
#iframe_trans
{
    width: 100%;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.travel_mainDiv {
    float: left;
    width: 33.33%;
    padding: 1px solid #c7c7c7;
    
}
.travel_mainDiv img
{
    width: 100%;
    height: 300%;
}
.travel_mainDiv hr
{
    width: 100%;
}
.travel_mainDiv h5 , .travel_mainDiv p
{
    margin-left: 20px; 
}
#achievementsID
{
    padding-bottom: 10px;
}
.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.movie_head i
{
    float: right;
}
.movie_text span
{
    color: #ff7700;
}

.environment_li
{
    margin-top: 13px;
}
.environment_li h4
{
    border-bottom: 1px solid white;
    padding: 8px;
}
.environment_li img
{
    border-radius: 25px;
}
.environment_li p
{
    margin-top: 10px}

#navbar {
  overflow: hidden;
    background-color: #333;}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
    }

.content {
  padding: 16px;
    }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#footer 
{
    height: 20px;
    background-color: white;
}

#color_change
{
    color: greenyellow;
}

nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: grey;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}


